---
title: Accessibility audit and testing
weight: 255
---

<%= partial "ga" %>

# Accessibility audit and testing

Service teams must arrange for an accessibility audit to be carried out before they move to public beta. This is to ensure the service is compliant with the accessibility regulations. This audit should be repeated every 12 months or if there are significant changes to a service.

You should include budget for accessibility testing as part of your business case. External audits can cost a minimum of £3,000 to carry out. 

Issues that you find which will be resolved must be listed in your [accessibility statement](/accessibility/accessibility-statement.html) under the **Non-accessible content** section.

## Internal testing and audits

You should be carrying out testing within the team on your service to make sure it's meeting the minimum accessibility requirements. 

Some teams will have testers and team members that can test and audit services to WCAG 2.1 AA standard. However, there are a range of tools and services available to carry out basic testing yourself.

### Testing tools

Most tools will run in the browser or can be added as browser extentions to Edge or Chrome.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Tool</th>
      <th scope="col" class="govuk-table__header">What it lets you do</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" id="insights" rel="noopener noreferrer">Accessibility Insights for web</a></th>
      <td class="govuk-table__cell">Browser extension for Edge and Chrome.
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
      <li>Fast-pass automated tests</li>
      <li>Tools for colour contrast, landmarks, tab-stops and headings</li>
      <li>Full WCAG guided audits which can be saved for evidence</li>
      </ul>
      </td>
    </tr>
        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://developer.chrome.com/docs/lighthouse/overview/" target="_blank" rel="noopener noreferrer">Lighthouse</a></th>
      <td class="govuk-table__cell">Built in accessibility testing in Edge and Chrome browsers. 
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
      <li>Automated testing of limited WCAG 2.1 guidelines</li>
      </ul>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://validator.w3.org/" target="_blank" rel="noopener noreferrer">W3C Markup Validator</a></th>
      <td class="govuk-table__cell">Tool to validate HTML markup by URL or copy and pasting your HTML to check it.</td>
    </tr>
       <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://jigsaw.w3.org/css-validator/" target="_blank" rel="noopener noreferrer">W3C CSS Validator</a></th>
      <td class="govuk-table__cell">Check your stylesheets are valid.</td>
    </tr>
  </tbody>
</table>

You can find out more about the responsibilities of [testing](/accessibility/roles.html#developers-and-testers) for accessibility and ensuring your [definition of done](/accessibility/roles.html#definition-of-done) covers accessibility.


### Internal audit

If you don't have people in your team who can do this, you can request an internal audit.

If your service is currently being service managed within Digital Data and Technology (DDaT) and it appears on the internal Configuration Management Database (CMDB), then the Business Engagement and Accessibility Team can undertake an assurance audit for you.

<%= example_panel("Request an internal audit","To find out if you can get an internal audit, contact the <a href='mailto:accessibility.support@education.gov.uk'>accessibility support team</a>.")%>


Otherwise, you will need to find an external supplier to carry out an audit.

### External audit

An external audit will be more comprehensive and include users with accessibility needs. It will also take longer to complete as you will need to allow for the time for procurement plus agencies rarely will have immediate availability.  Allow 1-3 months for the audit to be arranged and carried out.

It can cost from £3,000 to have an audit done, so this should be budgeted for.

Popular suppliers for accessibility audits include:

- <%= external_link("https://digitalaccessibilitycentre.org","Digital Accessibility Centre (DAC)")%>
- <%= external_link("https://www.nexerdigital.com","Nexer")%>

<%= example_panel("Getting an external audit","The [Digital and Technologies Contracts](mailto:Dandt.CONTRACTS@education.gov.uk) team can help with obtaining an audit or procuring a supplier through the <a href='https://www.digitalmarketplace.service.gov.uk/' target='_blank'>Digital Marketplace</a>")%>

## More information

<%= signpost_link("https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit","Getting an accessibility audit on GOV.UK",true)%>