---
title: Accessibility audit and testing
weight: 255
---

<%= partial "ga" %>

<a href="/accessibility/" class="govuk-back-link">Back to accessibility</a>


# Accessibility audits

Service teams must arrange for an accessibility audit to be carried out before they move to public beta. This is to make sure that the service is compliant with accessibility regulations. 

This audit should be repeated every 12 months. 

If the user journey changes significantly in this time, or new components and features are added which change more than 50% of the service, a new audit should be carried out.

## Budget for an audit

You should include budget for accessibility testing as part of your business case. External audits can cost a minimum of £3,000. 

Issues that you find which will be resolved must be listed in your [accessibility statement](/accessibility/accessibility-statement.html) under the **Non-accessible content** section.

## Internal testing and audits

You should be carrying out testing within the team on your service to make sure it's meeting the minimum accessibility requirements. 

Some teams will have testers and team members that can test and audit services to WCAG 2.1 AA standard. However, there are a range of tools and services available to carry out basic testing yourself.

Find out more about the responsibilities of [testing](/accessibility/roles.html#developers-and-testers) for accessibility and making sure that your [definition of done](/accessibility/roles.html#definition-of-done) includes accessibility.

### Internal audit

If you don't have people in your team who can do this, you can request an internal audit.

If your service is currently being service managed within Digital Data and Technology (DDaT) and it appears on the internal Configuration Management Database (CMDB), then the Business Engagement and Accessibility Team can do an assurance audit for you.

<%= example_panel("Request an internal audit","To find out if you can get an internal audit, contact the <a href='mailto:accessibility.support@education.gov.uk'>accessibility support team</a>.")%>


Otherwise, you will need to find an external supplier to carry out an audit.

### External audit

An external audit will be more comprehensive and include users with accessibility needs. They can cost from £3,000, so make sure you include this in your budget. You should allow 1 to 3 months for an audit to be arranged and carried out.

Suppliers for accessibility audits include:

- <%= external_link("https://digitalaccessibilitycentre.org","Digital Accessibility Centre (DAC)")%>
- <%= external_link("https://www.nexerdigital.com","Nexer")%>
- <%= external_link("https://www.nomensa.com","Nomensa")%>
- <%= external_link("https://www.shawtrust.org.uk/","Shaw Trust")%>

<%= example_panel("Get an external audit","The [Digital and Technologies Contracts](mailto:Dandt.CONTRACTS@education.gov.uk) team can help with getting an audit or procuring a supplier through the <a href='https://www.digitalmarketplace.service.gov.uk/' target='_blank'>Digital Marketplace</a>")%>

## More information

<%= signpost_link("https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit","Getting an accessibility audit on GOV.UK",true)%>