---
title: Accessibility statement
weight: 260
---

<%= partial "ga" %>

# Accessibility statement


All DfE digital services, websites and mobile apps must publish an accessibility statement. This has been a legal requirement since September 2018.

A link to the statement should be easy to find on the website and service homepage, or made available on every web page, for example, in the footer links. 

For mobile apps, the statement should be available on the website of the public sector body that developed the app, or with other information available when downloading the app. The statement can also be made available from within the app.

<%= warning_text("The accessibility statement contains mandatory and legally required wording.")%>

You can [use the correct accessibility statement template](#example-accessibility-statements) for your service's level of compliance to make sure that you're implementing the statement correctly and consistently.

There are sections in square brackets in the template where you should change the information so it's applicable to your service.

## Example accessibility statements

The following statements are designed to make it easier to create the correct statement for your service, and it's level of compliance to WCAG 2.1 Level AA.

<%= example_panel("Statement 1 - Fully compliant","<p>Use this statement only if all requirements of WCAG 2.1 AA are fully met without exceptions.</p><p><a href='/accessibility/statement-templates/full-html.html'>Statement template in HTML and Markdown</a></p>")%>

<%= example_panel("Statement 2 - Partially compliant","<p>Use this statement if most requirements of WCAG 2.1 AA are met, but with some exceptions. This means not yet fully compliant and that the necessary measures are to be taken in order to reach full compliance.</p><p><a href='/accessibility/statement-templates/partial-html.html'>Statement template in HTML and Markdown</a></p>")%>

<%= example_panel("Statement 3 - Not compliant","<p>Use this statement if most requirements of WCAG 2.1 AA are not met.</p><p><a href='/accessibility/statement-templates/notmet-html.html'>Statement template in HTML and Markdown</a></p>")%>