---
title: 1. Understand users and their needs
weight: 1
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 1. Understand users and their needs

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-1-understand-user-needs" target="_blank" rel="noopner noreferrer">Service Standard point 1 (opens in new tab)</a>.

Take time to understand your users' needs and the problem you're trying to solve for them.

Think about people's entire experience and the systems and processes around the product or service you're building.

## Why it's important

You need to understand your users and their needs, from their point of view, to build something that helps them. Otherwise you could build the wrong thing or make DfE services more difficult to use.

Understanding as much of the context as possible will give you the best chance of meeting users' needs in a simple, cost effective way.

The most obvious problem is not always the one that really needs solving. Test your assumptions early and often to reduce the risk of building the wrong thing.


## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Assessors will look for:

- a good understanding of the types and numbers of users who might use the service
- how the team have involved and considered users with access needs
- evidence of a variety of potential ways to solve the user needs
- well scoped research questions
- a variety of methods of user research
- an understanding of the difference between users and stakeholders
- a plan for alpha

<%# <%= do_dont_list(["a good understanding of the types and numbers of users who might use the service", 
"how the team have involved and considered users with access needs",
"evidence of a variety of potential ways to solve the user needs",
"well scoped research questions",
"a variety of methods of user research",
"an understanding of the difference between users and stakeholders", 
"a plan for alpha"], "Assessors will look for", "do") %> 

<%= do_dont_list(["user needs that describe solutions or business requirements"], "Things to avoid", "dont") %>
 
### At alpha

Assessors will look for:

- collaboration with other service-related teams and stakeholders including policy 
- use of existing research and performance data across DfE
- clear definition of user needs and user groups
- an accessibility audit plan
- hypotheses related to user needs that the team has tested in alpha
- a variety of quick throwaway prototypes to test hypotheses
- research that identifies parts of the service which users find difficult
- evidence of how the team iterated the service to make these parts easier for users and how this was tested and researched 
- a plan for private beta  
- thinking about how the service might need to scale in the future

<%# <%= do_dont_list(["collaboration with other service-related teams and stakeholders, including policy", 
"use of existing research and performance data across DfE",
"clear definition of user needs and user groups",
"an assessibility audit plan",
"hypotheses related to user needs that the team has tested in alpha",
"findings based on what users did, not what users want",
"a variety of quick, throwaway prototypes to test hypothesis",
"research that identifies parts of the service which users find difficult",
"evidence of how the team iterated the service to make these parts easier for users and how this was tested and researched", 
"a plan for private beta",  
"thinking about how the service might need to scale in the future"], "Assessors will look for", "do") %>

<%= do_dont_list(["research findings that are about user preferences rather than user behaviour",
"a lack of different ways of testing solutions",
"not testing with users with access needs"], "Things to avoid", "dont") %>


### At beta and live

Assessors will look for:

- recommendations from the alpha assessment have been addressed
- a plan for ongoing research and continuous improvement
- feedback is gathered through a variety of methods, not just usability testing
- user research working with performance analysis to define metrics
- how design and user needs have changed over time based on user research
- problems identified that need research
- assisted digital routes have been tested
- a third party accessibility audit of the service and actions taken based on findings
- where neccessary, the team has carried out a Data Protection Impact Assessment (DPIA)
- any neccessary security testing

<%# <%= do_dont_list(["recommendations from the alpha assessment have been addressed",
"a plan for ongoing research and continuous improvement",
"feedback is gathered through a variety of methods, not just usability testing",
"user research working with performance analysis to define metrics", 
"how design and user needs have changed over time based on user research",
"problems identified that need research",
"assisted digital routes have been tested", 
"a third party accessibility audit of the service and actions taken based on findings", 
"where neccessary, the team has carried out a Data Protection Impact Assessment (DPIA)", 
"any neccessary security testing"], "Assessors will look for", "do") %> 

<%= do_dont_list(["not testing all service touch points","
not doing usability testing with users with access needs, seperate from an audit"], "Things to avoid", "dont") %>
    
## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>
<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>
<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>
<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs" target="_blank" rel="noopner noreferrer">Learning about users and their needs</a> 
- <a href="https://www.gov.uk/service-manual/design/making-prototypes"target="_blank" rel="noopner noreferrer">Making prototypes</a> 

<div class="dfe-pager">
	<a href="/service-standard/1-understand-user-needs.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">1. Understand users and their needs</div>
	</a>
	<a href="/service-standard/3-join-up-across-channels.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">3. Provide a joined up experience across all channels</div>
	</a>
</div>