---
title: 1. Understand users and their needs
weight: 1
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-1-understand-user-needs" target="_blank" rel="noopner noreferrer">standard point 1 (opens in new tab)</a>.</p>
		</div>
		<div class="govuk-grid-column-full">
			<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-3">
			<p class="govuk-body">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
			<p><strong class="govuk-tag">User Researchers</strong></p>
		</div>
	</div>
</div>



Take time to understand users' needs and the problem you're trying to solve for them.

Think about people's entire experience and the systems and processes around the product or service you're building.

## Why it's important

You need to <%= external_link("https://www.gov.uk/service-manual/user-research/start-by-learning-user-needs#understanding-user-needs","understand your users and their needs")%> to build something that helps them. Otherwise you could build the wrong thing or make DfE services more difficult to use.

Understanding as much of the context of the user needs as possible will give you the best chance of meeting them in the most simple, cost effective way.

The most obvious problem is not always the one that needs solving. Test assumptions early and often to reduce the risk of building the wrong thing.


## How to meet this standard at each phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

### At discovery

#### Things to consider:

- an understanding of the types and numbers of users who might use the service
- how the team articulate the problem to be solved
- how the team have involved and considered users with access needs
- how to demonstrate why the team selected the research methods they used
- well scoped research questions
- a variety of methods of user research
- a prioritised list of user needs
- an understanding of the difference between users and project stakeholders
- a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/DPIA.aspx" target="_blank">Data Protection Impact Assessment (DPIA) (opens intranet page in new tab)</a> has been started, where necessary. If you do not have access to the DfE intranet, ask a civil servant to get the information for you
- a plan for alpha


<%= do_dont_list(["user needs that describe solutions or business requirements", "confusing user needs with desires"], "Things to avoid at discovery", "dont") %>
 
### At alpha

#### Things to consider:

- hypotheses related to user needs
- hypotheses tested with a variety of quick, throwaway <a href="https://design.education.gov.uk/prototyping/" target="_blank">prototypes (opens in new tab)</a>
- collaboration with other service-related teams and stakeholders, including policy 
- use of existing research and performance data across DfE
- clear definition of user needs written in language familiar to users
- clear definition of user groups
- a prioritised list of user stories
- how <a href="https://design.education.gov.uk/inclusive-design.html" target="_blank">inclusive design (opens in new tab)</a> is being considered in addition to testing with people with access needs
- an [accessibility audit](/accessibility/accessibility-audit.html) plan
- research that identifies parts of the service which users find difficult
- evidence of how the team iterated the service to make these parts easier for users and how this was tested and researched 
- test and validate concepts with users with access needs
- show an understanding of the tools and technology users have access to
- a plan for private beta, including the eligibility criteria for real user participation and methods of measuring their experience  
- research and thought into how the service will be maintained and supported
- how the service might need to scale in the future

<%= do_dont_list(["research findings that are about user preferences rather than user behaviour",
"a lack of different ways of testing solutions",
"not testing with users with access needs"], "Things to avoid at alpha", "dont") %>


### At beta and live

#### Things to consider:

- recommendations from most recent phase assessment have been addressed
- a plan for ongoing research and continuous improvement
- choosing the best methods to get results and feedback for the problems identified, not just relying on usability testing. Other methods you could use include a survey or analytics
- user research working with performance analysis to define success metrics
- how design and user needs have <a href="https://design.education.gov.uk/design-histories.html" target="_blank">changed over time (opens in new tab)</a> based on user research
- assisted digital routes, for example, offline or supporting routes, have been tested
- a third party [accessibility audit](/accessibility/accessibility-audit.html) of the service and actions taken based on findings
- a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/DPIA.aspx" target="_blank">Data Protection Impact Assessment (DPIA) (opens intranet page in new tab)</a> has been carried out, where neccessary. If you do not have access to the DfE intranet, ask a civil servant to get the information for you
- any neccessary security testing
- what the team has done beyond public beta to continue to meet user needs and deliver outcomes, when moving to live

<%= do_dont_list(["not testing all service touch points","
not doing usability testing with users with access needs, separate from an audit"], "Things to avoid at beta and live", "dont") %>

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>
<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>
<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>
<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>



<div class="dfe-pager">
	<a href="/service-standard/1-understand-user-needs.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">1. Understand users and their needs</div>
	</a>
	<a href="/service-standard/2-solve-a-whole-problem.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">2. Solve a whole problem</div>
	</a>
</div>