---
title: 12.  Make new source code open
weight: 12
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

#12. Make new source code open

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-12-make-new-source-code-open" target="_blank" rel="noopner noreferrer">standard point 12 make new source code open (opens in new tab)</a>. 

Make all new source code open and reusable, and publish it under appropriate licences.

## Why it's important

Public services are built with public money. So unless there's a good reason not to, the code they're based on, should be made available for other people to reuse and build on.

Open source code can save teams duplicating effort and help them build better services faster. And publishing source code under an open licence means that you're less likely to get locked into working with a single supplier.

Coding in the open is a good way to encourage high quality and secure coding in development teams. Teams will have more pride in their work if their work is publicly available for other people to see.

## How to meet this standard in a secure way 

### Use GitHub

The recommended tooling for meeting this standard is GitHub, as repositories in GitHub are open by default. There is a DfE organisation set up at <a href="https://github.com/DFE-Digital" target="_blank" rel="noopner noreferrer">DfE-Digital (opens in new tab)</a> which is publicly available. 

Join DfE-Digital to create a repository for a new service by contacting the DfE Slack channel <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank">#digital-tools-support</a>.

## How to meet this standard through the agile lifecycle

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

Assessors will look for:

- Any code being produced should be open by default. If at any point the code was not publicly available, the team will be asked why, and without good reason, could fail an assessment.

## How to apply this standard in your role

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

## Related content 

The following links will open in a new tab.

- <a href="https://technical-guidance.education.gov.uk/principles/general/"target="_blank" rel="noopner noreferrer">General principles, DfE Technical Guidance1</a> 
- <a href="https://www.gov.uk/government/publications/open-source-guidance/security-considerations-when-coding-in-the-open"target="_blank" rel="noopner noreferrer">Security considerations when coding in the open</a> 




<div class="dfe-pager">
	<a href="/service-standard/11-choose-the-right-tools-and-technology.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">11. Choose the right tools and technology</div>
	</a>
	<a href="/service-standard/13-use-common-standards-components-patterns.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">13. Use and contribute to open standards, common components and patterns</div>
	</a>

</div>