---
title: 13. Use and contribute to open standards, common components and patterns
weight: 13
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-13-use-common-standards-components-patterns" target="_blank" rel="noopner noreferrer">standard point 13 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	<div class="govuk-grid-column-full">
			<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-3">
			<p class="govuk-body">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
		<strong class="govuk-tag">Architects</strong>
		<strong class="govuk-tag">Product Managers</strong>
		<strong class="govuk-tag">Developers</strong> 
		<strong class="govuk-tag">Content Designers</strong>
		<strong class="govuk-tag">Interaction Designers</strong>
		<strong class="govuk-tag">Service Designers</strong>
		</div>
	</div>
</div>

## Summary

Use open standards, common components and patterns, and create new ones if there is not one that already meets your needs.

## Why it's important 

<a href='https://www.gov.uk/government/publications/open-standards-principles/open-standards-principles#Defining-open-standards'target="_blank" rel="noopner noreferrer">Open standards  (opens in new tab)</a> saves money and makes use of best practice.

Using common components, patterns and technology stacks means you do not have to solve problems that have already been solved. By using a component, pattern or stack that's already been assured and extensively tested, you can provide users with a good experience in a cost effective way. It also speeds up delivery and reduces risk.

We encourage teams to develop components and patterns that meet a shared need, it's important to share them so that others can benefit from your work.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

#### Things to consider:

- teams have reached out to other teams and similar services to consider possible patterns, <a href='https://dfe-digital.github.io/architecture/common-components/#common-components'target="_blank" rel="noopner noreferrer">architecture components (opens in new tab)</a> and tools 
- <a href='https://dfe-digital.github.io/architecture/common-components/#common-tooling'target="_blank" rel="noopner noreferrer">open source tools (opens in new tab)</a> and frameworks have been chosen or considered as the basis for the service components
- using <a href='https://design-system.service.gov.uk/'target="_blank" rel="noopner noreferrer">GOV.UK Design System (opens in new tab)</a> common components and patterns
- evidence of a <a href="https://design.education.gov.uk/design-histories.html" target="_blank">design history (opens in new tab)</a> to keep track of design decisions, options explored and rationale for choices made 
- recording <a href="https://dfe-digital.github.io/architecture/standards/architecture-documentation/#architecture-documentation" target="_blank">architecture decision records (opens in new tab)</a> to track decisions and rationale
- how to share and encourage use of <a href="https://design.education.gov.uk/component-design.html#content">new and existing design patterns </a> and <a href="https://dfe-digital.github.io/architecture/common-components/#common-components">architecture components </a>within the wider DfE service community

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>


<div class="dfe-pager">
	<a href="/service-standard/12-make-new-source-code-open.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">12. Make new source code open</div>
	</a>
	<a href="/service-standard/14-operate-a-reliable-service.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">14. Operate a reliable service</div>
	</a>

</div>