---
title: 14. Operate a reliable service
weight: 14
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-14-operate-a-reliable-service" target="_blank" rel="noopner noreferrer">standard point 14 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</span>
		<strong class="govuk-tag">Architecture</strong>
		<strong class="govuk-tag">Delivery Managers</strong> 
		<strong class="govuk-tag">Product Managers</strong> 
		<strong class="govuk-tag">Technical</strong> 
		</div>
	</div>
</div>

Minimise service downtime and have a plan to deal with it when it does happen. 

## Why it's important 

Users expect to be able to use online services 24 hours a day, 365 days a year.

There are some DfE services that operate within certain times, for example, <a href="https://www.gov.uk/guidance/early-career-payments-guidance-for-teachers-and-schools" target="_blank" rel="noopner noreferrer">Early-career payments for teacher  (opens in new tab)</a>, but these services still need to work reliably at the time users need them.

Many users have limited choice over how and when they access government services. For example, in an emergency, a school or parent may need to access our services outside of normal service hours using a mobile device. Some users may be in other time zones, for example, living in another country or be on holiday. If a service is unavailable or slow, it can mean those users are unable to get the urgent help they need.

## How to meet this standard throughout the delivery lifecycle

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

<%= example_panel("DfE assessor tips","<p><b>Prompts to help services and products meet this standard </b><p>
<p>Consider how the team will integrate automated tests into their code and integration tests into the DevOps pipeline.</p>
<p>What is the team's approach to incident management? Is it defined and documented?</p>
<p>Is there proactive log monitoring in place to identify issues?</p>
<p>How will you monitor availability of the service?</p>
<p>Who will be responsible for supporting the service once live?</p>")%>

Things to consider:

- how the service <a href='https://www.gov.uk/service-manual/technology/uptime-and-availability-keeping-your-service-online#design-to-maximise-uptime' target="_blank" rel="noopner noreferrer">maximises uptime (opens in new tab)</a> and speed of response for the online part of the service
- that the service has the ability to <a href='https://www.gov.uk/service-manual/technology/deploying-software-regularly'target="_blank" rel="noopner noreferrer">deploy software changes regularly (opens in new tab)</a>, without significant downtime. For example, by minimising the effort involved in creating new environments and populating pre-production environments with test data
 - consider creating continuous integration and continuous delivery pipelines from an early phase of the project
- having regular <a href='https://www.gov.uk/service-manual/technology/quality-assurance-testing-your-service-regularly' target="_blank" rel="noopner noreferrer">quality assurance (opens in new tab)</a> and performance testing 
- testing the service in an environment that's as similar to live as possible
- <a href='https://www.gov.uk/service-manual/technology/monitoring-the-status-of-your-service' target="_blank" rel="noopner noreferrer">appropriate monitoring (opens in new tab)</a> is in place, together with a proportionate, sustainable plan to respond to problems identified by monitoring - given the impact of problems on users and government
- agreeing recovery point objectives and recovery time objectives with the service owner 
- capturing appropriate service-level agreements (SLAs) and documenting them in the architecture decision record (ADR)
- making sure that runbooks and operational processes are captured, for example, how incident requests will be handled

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

<div class="dfe-pager">
	<a href="/service-standard/13-use-common-standards-components-patterns.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">13. Use and contribute to open standards, common components and patterns</div>
	</a>

</div>