---
title: 2. Solve a whole problem for users
weight: 2
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-2-solve-a-whole-problem" target="_blank" rel="noopner noreferrer">standard point 2 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is relevant for:</span>
		<strong class="govuk-tag">Service Designers</strong>
		</div>
	</div>
</div>


Consider where your service fits in your users' journey and whether you can solve a whole problem or influence a wider solution.  

Collaborate across teams, programmes and other services to create a service that meets users' needs across all channels in the end-to-end journey. For example, if users have to come in and then out of the service again to reach their end goal, what would that look like.


## Why it's important 

People often do not know how education services fit together. It helps if you can bring things together into a journey which makes sense to users, irrespective of which organisation they belong to or channel they use.

You may not be able to fix a whole problem, but you may be able to improve it and support or influence a wider solution.

## How to meet this standard at each phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

<%= example_panel("Think about","<p>If you are providing a service to schools which will be used by people who use other DfE services, is your service consistent in the look and feel, the language used, the tone of voice.</p>
<p>Does the service look and feel like other DfE services - will it feel familiar to them and make it easy for them to complete a task?</p>
<p>How will users know about the service, does it have a starting point on GOV.UK?</p>
<p>Have you spoken to teams on similar services and shared knowledge of the types of users, user research carried out or the design work done to meet user needs?</p>")%>


### At discovery 

Things to consider:

- <%= external_link("https://www.gov.uk/service-manual/design/scoping-your-service","an understanding of the problem space")%> and whether the proposed alpha addresses the full problem or leaves gaps
- whether there are services that exist that solve some - or the same - problem and how this service would fit in with existing services to solve a whole problem
- design and research to collaborate with policy and other <a href="https://www.gov.uk/service-manual/design/working-across-organisational-boundaries" target="_blank">teams who are delivering services (opens in new tab)</a> for similar users
- an understanding of policy constraints and crossover with other services or DfE content

<%= do_dont_list(["designing solutions or building a service. Discovery is about understanding the problem that needs to be solved before commiting to building a service", " not exploring if the benefits of looking further into the problem outweigh the cost of moving into alpha", "ending the service at the end of an application, for example, not when the user has achieved their goal"], "Things to avoid at discovery", "dont") %>

### At alpha

Things to consider:

- evidence of where the service touches other services and whether you've spoken to those teams
- how the team will talk through an end-to-end journey at a [service assessment](/service-assessments/)
- an understanding of non-digital or off-line processes and their impact or relationship to the service
- how the service fits in with other channels or services relevant to your user group
- creating a map of the current user journey, pain points and what the user journey will look like
- how to make it easy for users to focus on the next step in a journey. For example, how to navigate their way through the service to help them achieve their goal
- how the concepts being tested avoid duplication
- join together other relevant services or DfE content to solve a whole problem

<%= do_dont_list(["just designing a digital version of a paper process",
"ending the service at a point that doesn't make sense for a user",
"The <a href='https://www.gov.uk/service-manual/design/scoping-your-service' target='_blank'>scope for private beta being too large (opens in new tab)</a>. The team won't be able to iterate the service if it's for too many users"], "Things to avoid at alpha", "dont") %>


### At beta and live

Things to consider:

- using research and private beta analytics to show the service works. Demonstrate, with evidence, how users can get through the end-to-end journey unaided, especially during public beta
- collaborating with teams that make part of the end-to-end service
- an understanding of - and research for - the full end-to-end journey, including online and offline journeys and GOV.UK content
- how support, including assisted digital channels, are working
- offline processes and user support, including <a href="https://gds.blog.gov.uk/2011/07/28/an-introduction-to-assisted-digital/" target="_blank">assisted digital (opens in new tab)</a> routes, have been designed and tested, particularly at public beta
- an understanding of non-digital or off-line processes and their impact or relationship to the service
- user support process is in place 


## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>


<div class="dfe-pager">
	<a href="/service-standard/1-understand-user-needs.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">1. Understand users and their needs</div>
	</a>
	<a href="/service-standard/3-join-up-across-channels.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">3. Provide a joined up experience across all channels</div>
	</a>
</div>