---
title: 2. Solve a whole problem for users
weight: 2
prevent_indexing: true
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 2. Solve a whole problem for users

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>


This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-2-solve-a-whole-problem" target="_blank" rel="noopner noreferrer">Service Standard point 2 (opens in new tab)</a>. 

Consider where your service fits in your users' journey and whether you can solve a whole problem or influence a wider solution.  

Collaborate across teams, programmes and organisations to create a service that meets users' needs across all channels in the end-to-end journey. For example, if users have to come in and then out of the service again to reach their end goal, what would that look like. 


<%= example_panel("Think about","<p>If you are providing a service to schools which will be used by people who use other services from DfE, is your service consistent in the look and feel, the language used, the tone of voice.</p>
<p>Does the service look and feel like other DfE services - will it feel familiar to them and make it easy for them to complete a task?</p>
<p>How will they know about the service, does it have a starting point on GOV.UK?</p>
<p>Have you spoken to teams on similar services and shared knowledge of the types of users, user research carried out or the design work done to meet the user's needs?</p>")%>

## Why it's important 

People often do not know how education services fit together. It helps if you can bring things together into a journey which makes sense to users, irrespective of which organisation they belong to or channel they use.

You may not be able to fix a whole problem, but you may be able to improve it and support or influence a wider solution.

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery 

Assessors will look for:

- an understanding of where the service touches other services and whether you've spoken to those teams
- how you've explored where the service should start and stop
- how design, user research and content design are considering the full end-to-end service, including the non-digital parts
- how you might address any problems with internal processes, policy or legislation that make it difficult to join things up and address a whole problem
 -how the team will talk through an end-to-end journey

<%# <%= do_dont_list(["an understanding of where the service touches other services and whether you've spoken to those teams", 
"how you've explored where the service should start and stop", 
"how design, user research and content design are considering the full end-to-end service, including the non-digital parts",
"how you might address any problems with internal processes, policy or legislation that make it difficult to join things up and address a whole problem",
"how the team will talk through an end-to-end journey"], "Assessors will look for", "do") %>

<%= do_dont_list(["designing solutions or building a service",
"ending the service at the end of an application, for example, not when the user has achieved their goal"], "Things to avoid", "dont") %>

### At alpha

Assessors will look for:

- an understanding of where the service touches other services and whether you've spoken to those teams
- how design, user research and content design are considering the full end-to-end service, including the non-digital parts
- how you've explored where the service should start and stop", "an understanding of the context and whole problem that the alpha is helping to solve
- a map of the current user journey, pain points and what the user journey will look like
- demonstrate how to make it easy for users to focus on the next step in a journey to help them achieve their goal
- how the team will talk through an end-to-end journey at a service assessment

<%# <%= do_dont_list(["an understanding of where the service touches other services and whether you've spoken to those teams", 
"how design, user research and content design are considering the full end-to-end service, including the non-digital parts",
"how you've explored where the service should start and stop", "an understanding of the context and whole problem that the alpha is helping to solve",
"a map of the current user journey, pain points and what the user journey will look like",  
"demonstrate how to make it easy for users to focus on the next step in a journey to help them achieve their goal",
"how the team will talk through an end-to-end journey at a service assessment"], "Assessors will look for", "do") %> 

<%= do_dont_list(["designing a digital version of a paper process",
"ending the service at the end of an application, for example, not when the user has achieved their goal",
"a private beta plan being too ambitious or large. The team won't be able to iterate the service if it is for too many users"], "Things to avoid", "dont") %>


### At beta and live

Assessors will look for:

- evidence from research and private beta analytics to show the service works and users can get through the end-to-end journey unaided
- offline processes and user support, including assisted digital channels, have been designed and tested
- collaboration with teams that make part of the end-to-end service
- an understanding of and research for the full end-to-end journey, including online and offline journeys and GOV.UK content
- show how support, including assisted digital channels, are working

<%# <%= do_dont_list(["evidence from research and private beta analytics to show the service works and users can get through the end-to-end journey unaided",
"offline processes and user support, including assisted digital channels, have been designed and tested",
"collaboration with teams that make part of the end-to-end service",
"an understanding of and research for the full end-to-end journey, including online and offline journeys and GOV.UK content",
"show how support, including assisted digital channels, are working"], "Assessors will look for", "do") %> 


## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>



## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/design/scoping-your-service" target="_blank" rel="noopner noreferrer">Getting the scope of your transaction right</a> 
- <a href="https://www.gov.uk/service-manual/design/working-across-organisational-boundaries" target="_blank" rel="noopner noreferrer">Working across organisational boundaries</a> 

<div class="dfe-pager">

<a href="/service-standard/1-understand-user-needs.html" class="dfe-pagination">
<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
<span class="dfe-pagination-action">
    Previous page</span> 

<div  class="dfe-pagination-page">1. Understand users and their needs</div>
</a>

<a href="/service-standard/3-join-up-across-channels.html" class="dfe-pagination">
   <svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
             <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
             <span class="dfe-pagination-action">Next page</span>
   
    <div class="dfe-pagination-page">3. Provide a joined up experience across all channels</div>
</a>

</div>