---
title: 3. Provide a joined up experience across all channels
weight: 3
prevent_indexing: true
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 3. Provide a joined up experience across all channels

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-3-join-up-across-channels" target="_blank" rel="noopner noreferrer">Service Standard point 3 (opens in new tab)</a>. 

Consider where your service fits into a wider journey and how it will join up across channels to meet user needs. 

This involves understanding how the online and offline parts of your service link together and any pain points users experience as a result of this.

## Why it’s important

If a service moves between channels and you bring those different channels together, you can design an experience that makes sense to the user. 
Understanding where your user needs fit into wider user journeys can help to solve a whole problem for users.

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

## At discovery
<%= do_dont_list(["design and research working with policy and relevant DfE colleagues working on the service across all channels to understand problems",
"prototyping, testing and iterating critical journeys"], "Assessors will look for", "do") %>

## At alpha

<%= do_dont_list(["data and research being used to improve offline and online channels",
"use of GOV.UK Design System design patterns or testing new patterns where needed"], "Assessors will look for", "do") %>

## At beta and live

<%= do_dont_list(["use of the GOV.UK Design System and patterns or testing new patterns where needed",
"examples of service flows being iterated and changed based on user research",
"a plan of how to support and handle private beta users vs regular users of the old service, including any offline processes, or processes that have changed channel"], "Assessors will look for", "do") %>

<%= do_dont_list(["private beta being too large and is actually the live service"], "Things to avoid", "dont") %>

## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>


- User Research in DfE


## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/encouraging-people-to-use-your-digital-service"target="_blank" rel="noopner noreferrer">Encouraging people to use your service online</a> 

