---
title: 3. Provide a joined up experience across all channels
weight: 3
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 3. Provide a joined up experience across all channels

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-3-join-up-across-channels" target="_blank" rel="noopner noreferrer">Service Standard point 3 (opens in new tab)</a>. 

Consider where your service fits into a wider journey or alongside other DfE services, and how it will join up across channels. 

This involves understanding how the online and offline parts of your service link together and any pain points users experience as a result of this.

## Why it’s important

If a service moves between channels, for example, email, contact centres, paper forms or in person, and you bring those different channels together, you can design an experience that reduces friction for users. 

Understanding where your user needs fit into wider journeys can help to solve a whole problem for users.

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Assessors will look for:

- design and research collaborating with policy and other service teams who are delivering services for similar users
- understanding what other channels might be impacted by the policy intent or user needs
- use of existing research and performance data across DfE

<%# <%= do_dont_list(["design and research collaborating with policy and other service teams who are delivering services for similar users", "understanding what other channels might be impacted by the policy intent or user needs", "use of existing research and performance data across DfE"], "Assessors will look for", "do") %>

### At alpha

Assessors will look for:

- data and research being used to improve offline and online channels
- how the service fits in with other channels or services relevant to your user group
- use of common components, such as DfE Sign-in, to provide a consistent experience with other DfE services

<%# <%= do_dont_list(["data and research being used to improve offline and online channels", "how the service fits in with other channels or services relevant to your user group",
"use of common components, such as DfE Sign-in, to provide a consistent experience with other DfE services"], "Assessors will look for", "do") %> 

<%= do_dont_list(["a service being built which is a live service"], "Things to avoid", "dont") %>



### At beta and live

Assessors will look for:

- use of GOV.UK Design System and patterns or testing new patterns where needed
- examples of service flows being iterated and changed based on user research
- a plan for how to onboard users where a new service is replacing an existing service

<%# <%= do_dont_list(["use of GOV.UK Design System and patterns or testing new patterns where needed",
"examples of service flows being iterated and changed based on user research",
"a plan for how to onboard users where a new service is replacing an existing service"], "Assessors will look for", "do") %> 

<%= do_dont_list(["the scope for the private beta being too large"], "Things to avoid", "dont") %>

## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>


## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/encouraging-people-to-use-your-digital-service"target="_blank" rel="noopner noreferrer">Encouraging people to use your service online</a> 



<div class="dfe-pager">
	<a href="/service-standard/2-solve-a-whole-problem.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">2. Solve a whole problem for users</div>
	</a>
	<a href="/service-standard/4-make-the-service-simple-to-use.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">4. Make the service simple to use</div>
	</a>
</div>