---
title: 4. Make the service simple to use
weight: 4
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 4. Make the service simple to use

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-4-make-the-service-simple-to-use" target="_blank" rel="noopner noreferrer">Service Standard point 4 (opens in new tab)</a>. 

Build a service that's simple to use so that people can succeed first time. Test it with users to make sure it works for them.

## Why it's important

People expect services to work. They need things to be easy when they are trying to complete a task or find information. As a public sector organisation we have a legal duty to consider everyone's needs when designing and delivering services.  

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Assessors will look for:

- evidence of how policy decisions can be implemented in a user-centred way
- use of plain English and language that users understand
- an understanding of the types of users and scenarios relevant to the service
- whether existing technologies, components and patterns are being considered

<%# <%= do_dont_list(["evidence of how policy decisions can be implemented in a user-centred way",
"use of plain English and language that users understand", 
"understanding the types of users and scenarios that the service would be used in",
"whether existing technologies, components and patterns are being considered"], "Assessors will look for", "do") %>

<%= do_dont_list(["designing solutions without understanding user needs"], "Things to avoid", "dont") %>

### At alpha

Assessors will look for:

- the user journey being simple to use and understand, and based on research
- risks associated with the service have been mitigated through design
- a consistent user experience with other DfE services
- the route users take to the service has been considered
- offline elements, including assisted digital routes, have been considered
- a user-centred approach has been taken
- technology decisions supporting accessible and usable design
- content being tested to make sure that users understand it
- prototypes built and tested with users identified in discovery

<%# <%= do_dont_list(["the user journey has been designed in a way that is simple to use and understand",
"risks associated with the service have been mitigated through design",
"a consistent user experience with other DfE services",
"the route users take to the service has been considered", 
"offline elements of the service, including assisted digital routes, have been considered",
"a digital-first approach has been taken that reflects users behaviour", "technology decisions supporting accessible and usable design"], "Assessors will look for", "do") %>

<%= do_dont_list(["custom components and patterns being created and not shared or tested",
"dead ends in the journey or a disconnect between online and offline actions",
"where the service starts and ends not being clear",
"the service not achieving the users' goal"], "Things to avoid", "dont") %>


### At beta and live 

Assessors will look for:

- how data has been used to understand service performance
- evidence of continuous improvement to make changes to the user journey or content
- evidence of usability testing, including users with the lowest level of digital skills
- how the service meets accessibility requirements

<%# <%= do_dont_list(["how data has been used to understand service performance",
"evidence of continuous improvement to make changes to the user journey or content",
"evidence of usability testing, including users with the lowest level of digital skills",
"how the service meets accessibility requirements"], "Assessors will look for", "do") %>

<%= do_dont_list(["not having a plan to continually improve the service",
"not understanding how user needs might change over time 
"], "Things to avoid", "dont") %>

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>


<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>


## Related content 
The following links will open in a new tab.




- <a href="https://www.gov.uk/service-manual/design/introduction-designing-government-services"target="_blank" rel="noopner noreferrer">Designing good government services</a> 

- <a href="https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices"target="_blank" rel="noopner noreferrer">Designing for different browsers and devices</a> 

- <a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a> 


<div class="dfe-pager">
	<a href="/service-standard/3-join-up-across-channels.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">3. Provide a joined up experience across all channels</div>
	</a>
	<a href="/service-standard/5-make-sure-everyone-can-use-the-service.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">5. Make sure everyone can use the service</div>
	</a>
</div>