---
title: 4. Make the service simple to use
weight: 4
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>


<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-4-make-the-service-simple-to-use" target="_blank" rel="noopner noreferrer">standard point 4 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	<div class="govuk-grid-column-full">
			<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-3">
			<p class="govuk-body">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
		<strong class="govuk-tag">Content Designers</strong>
		<strong class="govuk-tag">Interaction Designers</strong>
		<strong class="govuk-tag">Service Designers</strong>
		</div>
	</div>
</div>

## Summary

Build a service that's simple to use so that people can succeed first time. Test it with users to make sure it works for them.

## Why it's important 

People expect services to work. They need things to be easy when they are trying to complete a task or find information. As a public sector organisation we have a legal duty to <a href='https://design.education.gov.uk/accessibility'>consider everyone's needs when designing and delivering services</a>.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

### In discovery

#### Things to consider:

- evidence of how policy decisions can be implemented in a user-centred way
- use of plain English and <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk" target="_blank" rel="noopner noreferrer">language that users understand (opens in new tab)</a> 
- the types of users and scenarios relevant to the service
- using existing technologies,  <a href="https://design-system.service.gov.uk/" target="_blank" rel="noopner noreferrer">GOV.UK components and patterns (opens in new tab)</a>
- developing your understanding of the user needs and pain points

<%= do_dont_list(["designing solutions without understanding user needs"], "Things to avoid at discovery", "dont") %>

### In alpha

#### Things to consider:

- the user journey being <a href="https://www.gov.uk/service-manual/design/introduction-designing-government-services" target="_blank">simple to use (opens in new tab)</a> and understand, and based on research
- risks associated with the service have been mitigated through design
- a consistent user experience with other DfE services
- the route users take to the service has been considered
- how the service will look and work on <a href='https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices' target='_blank'>every browser or device users access it on (opens in new tab)</a> 
- offline elements, including <a href="https://gds.blog.gov.uk/2011/07/28/an-introduction-to-assisted-digital/" target="_blank">assisted digital (opens in new tab)</a> routes, have been considered
- a user-centred approach has been taken
- technology decisions supporting accessible and usable design
- content being tested to make sure that users understand it
- <a href="https://design.education.gov.uk/prototyping" target="_blank">prototypes (opens in new tab)</a> built and tested with users identified in discovery
- any unique component or pattern, or <%= external_link("https://design-system.service.gov.uk/community/contribution-criteria/","an adaptation of an existing component from the Design System")%>, are shared and tested. Plus, a plan for how you will keep them up-to-date with existing systems
- how users will report a problem with the service and how they'll be supported and updated of any resolution

<%= do_dont_list(["dead ends in the journey or a disconnect between online and offline actions",
"where the service starts and ends not being clear",
"the service not achieving the users' goal"], "Things to avoid at alpha", "dont") %>


### In beta and live 

#### Things to consider:

- how data has been used to understand service performance and a plan for how you'll use this in live
- evidence of continuous improvement to make changes to the user journey or content
- continual monitoring of feedback and testing usability
- evidence of usability testing, including users with the lowest level of digital skills
- how the service meets [accessibility](https://design.education.gov.uk/accessibility) requirements
- user research to understand any performance issues

<%= do_dont_list(["not having a plan to continually improve the service",
"not understanding how user needs might change over time 
"], "Things to avoid at beta and live", "dont") %>

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>


<div class="dfe-pager">
	<a href="/service-standard/3-join-up-across-channels.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">3. Provide a joined up experience across all channels</div>
	</a>
	<a href="/service-standard/5-make-sure-everyone-can-use-the-service.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">5. Make sure everyone can use the service</div>
	</a>
</div>