---
title: 4. Make the service simple to use
weight: 4
prevent_indexing: true
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 4. Make the service simple to use

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-4-make-the-service-simple-to-use" target="_blank" rel="noopner noreferrer">Service Standard point 4 (opens in new tab)</a>. 

Build a service that’s simple to use so that people can succeed first time. Test it with users to make sure it works for them.

## Why it's important

People expect services to just work. They need things to be easy when they are trying to complete a task or find information. As a public sector organisation we have a legal duty to consider everyone’s needs when designing and delivering services.  

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery
<%= do_dont_list(["evidence of how policy decisions can be implemented in a user-centred way",
"use of plain English and language that users understand", 
"understanding the types of users and scenarios that the service would be used in",
"whether existing technologies, components and patterns are being considered",
"technology decisions supporting accessible and usable design"], "Assessors will look for", "do") %>

<%= do_dont_list(["designing solutions without understanding user needs"], "Things to avoid", "dont") %>

### At alpha
<%= do_dont_list(["the user journey has been designed in a way that is simple to use and understand",
"risks associated with the service have been mitigated through design",
"a consistent user experience with other DfE services",
"the route users take to the service has been considered", 
"offline elements of the service, including assisted digital routes, have been considered",
"a digital-first approach has been taken that reflects users behaviour"], "Assessors will look for", "do") %>

<%= do_dont_list(["custom components and patterns being created and not shared or tested",
"dead ends in the journey or a disconnect between online and offline actions",
"where the service starts and ends not being clear",
"the service not achieving the users’ goal"], "Things to avoid", "dont") %>


### At beta and live 
<%= do_dont_list(["how data has been used to understand service performance",
"evidence of continuous improvement to make changes to the user journey or content",
"evidence of usability testing, including users with the lowest level of digital skills",
"how the service meets accessibility requirements"], "Assessors will look for", "do") %>

<%= do_dont_list(["not having a plan to continually improve the service",
"not understanding how user needs might change over time 
"], "Things to avoid", "dont") %>

## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>


- User Research in DfE


## Related content 
The following links will open in a new tab.




- <a href="https://www.gov.uk/service-manual/design/introduction-designing-government-services"target="_blank" rel="noopner noreferrer">Designing good government services</a> 

- <a href="https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices"target="_blank" rel="noopner noreferrer">Designing for different browsers and devices</a> 

- <a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a> 

