---
title: 5. Make sure everyone can use the service
weight: 5
---

<%= partial "ga" %>

<div class="dfe-section-darker-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
	</div>
	</div>
	</div>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-5-make-sure-everyone-can-use-the-service" target="_blank" rel="noopner noreferrer">standard point 5 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is relevant for:</span>
		<strong class="govuk-tag">Content Designers</strong> 
		<strong class="govuk-tag">Interaction Designers</strong> 
		<strong class="govuk-tag">Service Designers</strong>
		<strong class="govuk-tag">User Researchers</strong> 
		</div>
	</div>
</div>

Make sure your service can be used by people with different physical, mental, social, cultural or learning needs, whether it's for the public, for staff working in DfE or across the education sector.

This also includes people who do not have access to the internet or may find it hard to have the skills or confidence to use it.

## Why it's important 

<%= example_panel("For assurance","<p>You’ll be assessed on what you’ve done to meet this service standard point at <a href='/service-assessments/'>service assessments</a>.</p>")%>


Everyone who works on DfE digital services has a role to play in making them accessible and inclusive.

If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank" rel="noopner noreferrer">2010 Equality Act (opens in new tab)</a> 

Accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopner noreferrer">more about the regulations on GOV.UK (opens in new tab)</a>

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Assessors will look for:

- time and money put aside for accessibility testing and audits at future phases
- evidence of talking to people who use assistive technology
- user research with people with access needs
- consideration of non-digital parts of the service, for example letters and phone calls
- consideration of content strategy based on user needs and policy intent
- plan for things you might test at alpha

<%= do_dont_list(["overlooking a potentially key user group",
"research findings about user preference not user behaviour",
"no user research or limited research has taken place",
"no hypotheses for alpha",
"user needs that describe solutions or business requirements"], "Things to avoid at discovery", "dont") %>

### At alpha

Assessors will look for:

- testing the user journey with users
- an understanding of the support model for the service, for example, what is the offline journey
- accessibility testing has started
- <a href="https://design.education.gov.uk/inclusive-design.html" target="_blank">inclusive design (opens in new tab)</a> considering how age, gender and culture might impact the service
- a plan for accessibility testing at beta
- designing and testing content with users of the service
- an understanding of how the service fits into wider DfE services
- testing how assistive digital support will work
- research with users across the digital inclusion scale
- content written in plain English

<%= do_dont_list(["limited testing of hypotheses about how people will use the service",
"not enough testing of delivering content in different ways"], "Things to avoid at alpha", "dont") %>

### At beta 

Assessors will look for:

- continual testing with users with access needs
- how you've tested with users who need <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction" target="_blank" rel="noopner noreferrer">assistive digital support (opens in new tab)</a>
- an accessibility audit, if the service needs one, and any issues fixed
- the service meets the latest accessibility standards
- <a href='/accessibility/accessibility-statement.html'>an accessibility statement</a> that explains how accessible the service is. This needs to be published when the service moves into public beta
- the service being iterated based on insights from user research
- an understanding of non-digital or off-line processes and their impact or relationship to the service

<%= do_dont_list(["not enough people with access needs invited to use the private beta", 
"not having or testing an assisted digital route",
"not enough research to understand how users with access needs might interact with the service",
"accessibility testing being an afterthought"], "Things to avoid at beta", "dont") %>

### At live

Assessors will look for:

- the service meets the latest [accessibility standards](/accessibility)
- how the team continue to test with users who need <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction" target="_blank" rel="noopner noreferrer">assistive digital support (opens in new tab)</a>
- the service continues being iterated based on insights from user research
- any changes are tested to make sure they meet accessibility requirements

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>


## Related content 
The following links open in a new tab.

- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag"target="_blank" rel="noopner noreferrer">Understanding WCAG 2.1</a> 
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction"target="_blank" rel="noopner noreferrer">Making your service accessible</a> 
- <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"target="_blank" rel="noopner noreferrer">Testing with assistive technologies</a> 


<div class="dfe-pager">
	<a href="/service-standard/4-make-the-service-simple-to-use.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">4. Make the service simple to use</div>
	</a>
	<a href="/service-standard/6-have-a-multidisciplinary-team.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">6. Have a multidisciplinary team</div>
	</a>
</div>