---
title: 5. Make sure everyone can use the service
weight: 5
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-5-make-sure-everyone-can-use-the-service" target="_blank" rel="noopner noreferrer">standard point 5 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</span>
		<strong class="govuk-tag">Content Designers</strong> 
		<strong class="govuk-tag">Interaction Designers</strong> 
		<strong class="govuk-tag">Service Designers</strong>
		<strong class="govuk-tag">User Researchers</strong> 
		</div>
	</div>
</div>

Make sure your service can be used by people with different physical, mental, social, cultural or learning needs, whether it's for the public, for staff working in DfE or across the education sector.

Champion the needs of all users and include them as part of the design and iterative process. Consider where these users are on the <%= external_link("https://userresearch.blog.gov.uk/2019/02/22/reflecting-on-how-we-developed-the-digital-inclusion-scale/","digital inclusion scale")%>.

## Why it's important 

Everyone who works on DfE digital services has a role to play in making them <a href='/accessibility/laws-and-standards.html'>accessible and inclusive</a>.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank" rel="noopner noreferrer">2010 Equality Act (opens in new tab)</a> 
  </strong>
</div>


Accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopener noreferrer">more about the regulations on GOV.UK (opens in new tab)</a>

## How to meet this standard at each phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

### At discovery

#### Things to consider:

- time and money allocated for <a href='/accessibility/'>accessibility testing and audits</a> at future phases
- what your approach to recruiting users with access needs will be
- evidence of talking to people who use assistive technology
- user research with people with access needs
- the context of your users environment
- non-digital parts of the service, for example letters and phone calls
- a content strategy based on user needs and policy intent
- a plan for things you might <a href='https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#what-to-do-in-alpha' target='_blank'>test at alpha (opens in new tab)</a> 

<%= do_dont_list(["overlooking a potentially key user group",
"research findings about user preference not user behaviour",
"no user research or limited research has taken place",
"no hypotheses for alpha",
"user needs that describe solutions or business requirements"], "Things to avoid at discovery", "dont") %>

### At alpha

#### Things to consider:

- testing the user journey with users
- what your approach to recruiting users with access needs will be
- exploring the support model, for example, what is the offline user journey? Is there a telephne number or email address for service support?
- starting accessibility testing 
- <a href="https://design.education.gov.uk/inclusive-design.html" target="_blank">inclusive design (opens in new tab)</a> considering how age, gender and culture might impact the service
- a plan for accessibility testing at beta
- designing and testing content with users of the service
- the context of your users environment when they might be using the service, for example, a noisy classroom, slow internet connection, and what devices they are using
- how the service fits into wider DfE services
- testing how assistive digital support will work
- research with users across the digital inclusion scale
- content written in plain English

<%= do_dont_list(["not enough testing of hypotheses about how people will use the service",
"not testing different ways of delivering content"], "Things to avoid at alpha", "dont") %>

### At beta and live

#### Things to consider:

- continual testing with users with access needs
- what your approach to recruiting users with access needs will be
- the context of your users environment when they might be using the service, for example, a noisy classroom, slow internet connection, and what devices they are using
- how you've tested - and continue to test - with users who need <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction" target="_blank" rel="noopner noreferrer">assistive digital support (opens in new tab)</a>
- an <a href='/accessibility/accessibility-audit.html'>accessibility audit</a> and any issues fixed, this is a mandatory requirement
- how the service meets the latest [accessibility standards](/accessibility)
- <a href='/accessibility/accessibility-statement.html'>an accessibility statement</a> that explains how accessible the service is. This needs to be published when the service moves into public beta
- the service continues to be iterated based on insights from user research
- any changes are tested to make sure they meet accessibility requirements
- non-digital or off-line processes and their impact or relationship to the service

<%= do_dont_list(["not enough people with access needs invited to use the private beta", 
"not having or testing an assisted digital route",
"not enough research to understand how users with access needs might interact with the service",
"accessibility testing being an afterthought"], "Things to avoid at beta and live", "dont") %>

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

<div class="dfe-pager">
	<a href="/service-standard/4-make-the-service-simple-to-use.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">4. Make the service simple to use</div>
	</a>
	<a href="/service-standard/6-have-a-multidisciplinary-team.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg> <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">6. Have a multidisciplinary team</div>
	</a>
</div>