---
title: 5. Make sure everyone can use the service
weight: 5
prevent_indexing: true
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 5. Make sure everyone can use the service
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-5-make-sure-everyone-can-use-the-service" target="_blank" rel="noopner noreferrer">Service Standard point 5 (opens in new tab)</a>. 

Make sure your service can be used by people with different physical, mental, social, cultural or learning needs, whether it's for the public, for staff working in DfE or across the education sector.

This also includes people who do not have access to the internet or may find it hard to have the skills or confidence to use it.

## Why it's important

Everyone who works on DfE digital services has a role to play in making them accessible and inclusive.

If your service isn't accessible to everyone who needs it, you may be breaking the <a href="https://www.legislation.gov.uk/ukpga/2010/15/contents" target="_blank" rel="noopner noreferrer">2010 Equality Act (opens in new tab)</a> 

Accessibility regulations say that public sector websites must meet accessibility standards and publish an accessibility statement. You can find out <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopner noreferrer">more about the regulations on GOV.UK (opens in new tab)</a>

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

## At discovery

<%= do_dont_list(["time and money put aside for accessibility testing and audits",
"evidence of talking to people who use assistive technology",
"user research with people with access needs",
"consideration of non-digital parts of the service, for example letters and phone calls",
"consideration of content strategy based on user needs and policy intent",
"a plan for things you might test at alpha"], "Assessors will look for", "do") %>

<%= do_dont_list(["overlooking a potentially key user group",
"research findings about user preference not user behaviour",
"no user research or limited research has taken place",
"no hypotheses for alpha",
"user needs that describe solutions or business requirements"], "Things to avoid", "dont") %>

## At alpha

<%= do_dont_list(["testing the user journey with users",
"a plan for accessibility testing at beta",
"designing and testing content with users of the service",
"an understanding of how the service fits into wider DfE services",
"testing how assistive digital support will work",
"research with users across the digital inclusion scale",
"content written in plain English"], "Assessors will look for", "do") %>


<%= do_dont_list(["limited testing of hypotheses about how people will user the service",
"not enough testing of delivering content in different ways",
"team reluctant to throw away prototypes"], "Things to avoid", "dont") %>



## At beta and live

<%= do_dont_list(["continual testing with users with access needs",
"how you’ve tested with users who need assistive digital support",
"an accessibility audit, if the service needs one, and any issues fixed",
"the service meets accessibility standards",
"<a href='/accessibility/accessibility-statement.html'>an accessibility statement</a> that explains how accessible the service is. This needs to be published when the service moves into public beta",
"the service being iterated based on insights from user research"], "Assessors will look for", "do") %>

<%= do_dont_list(["not enough people with access needs invited to use the private beta", 
"not having or testing an assisted digital route",
"not enough research to understand how users with access needs might interact with the service",
"accessibility testing being an afterthought"], "Things to avoid", "dont") %>

## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>


- User Research in DfE

## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag"target="_blank" rel="noopner noreferrer">Understanding WCAG 2.1</a> 
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction"target="_blank" rel="noopner noreferrer">Making your service accessible</a> 
- <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"target="_blank" rel="noopner noreferrer">Testing with assistive technologies</a> 
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction"target="_blank" rel="noopner noreferrer">Assisted digital support</a> 

