---
title: 6. Have a multidisciplinary team
weight: 6
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

#6. Have a multidisciplinary team
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-6-have-a-multidisciplinary-team" target="_blank" rel="noopner noreferrer">point 6 have a multidisciplinary team (opens in new tab)</a>. 

It's important to have a diverse mix of the skills and roles needed to build and operate the service.

Make as many decisions as possible in the team, so that you can respond quickly to what you learn about users and their needs.

## Why it's important

A team with a range of expertise and perspectives is more likely to come up with the best solution. The size and roles you'll need will change as you build the service.

When writing your business case make sure you consider how much it would cost to build the service, especially if you need to contract specialist roles or involve a managed service. For example, a contract day rate can start at £600 a day.

## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Assessors will look for:

- how you've considered roles specific to the type of work that needs doing
- if there are contractors, a plan for how knowledge will be shared
- identifying where additional roles may be needed and how to fill them

### At alpha

Assessors will look for:

- the right team roles are in place to execute the goal of the service at this stage
- having people with the skills to understand data and what metrics you need to measure
- a user researcher, responsible for research and usability tests
- product and delivery managers with the knowledge and authority to make day-to-day decisions to improve the service
- a plan to transfer knowledge and skills from contractors to permanent staff


<%= do_dont_list(["not evaluating skill sets to avoid single points of failure. Teams should have a wide skill set relevant to the work that needs doing", "not having the right roles for the work being carried out",
"decisions being made without understanding, or having evidence to support them"], "Things to avoid", "dont") %>

### At beta

Assessors will look for:

- how the team and ways of working can keep improving the service
- knowledge and skills from contractors have been transferred to permanent staff
- how the team has evaluated and iterated the less common paths through the service
- a plan for what team you'll need to operate and support the service once live

### At live

Assessors will look for:

- how the team and ways of working can keep improving the service
- knowledge and skills from contractors has been transferred to permanent staff


## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/the-team"target="_blank" rel="noopner noreferrer">The team</a> 
- <a href="https://www.gov.uk/service-manual/the-team/working-contractors-third-parties"target="_blank" rel="noopner noreferrer">Working with contractors or third parties</a> 

<div class="dfe-pager">
	<a href="/service-standard/5-make-sure-everyone-can-use-the-service.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">5. Make sure everyone can use the service</div>
	</a>
	<a href="/service-standard/7-use-agile-ways-of-working.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">7. Use agile ways of working</div>
	</a>
</div>