---
title: 7. Use agile ways of working
weight: 7
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-7-use-agile-ways-of-working" target="_blank" rel="noopner noreferrer">standard point 7 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</span>
		<strong class="govuk-tag">Delivery Managers</strong> <strong class="govuk-tag">Product Managers</strong>
		</div>
	</div>
</div>


<a href="https://www.gov.uk/service-manual/agile-delivery/agile-government-services-introduction#:~:text=Agile%20methods%20encourage%20teams%20to,feedback%20and%20other%20useful%20data" target="_blank" rel="noopner noreferrer">Agile (opens in new tab)</a> is a way of working that encourages teams to build quickly, test what they've built and iterate their work based on regular feedback and other useful data. 

Use  <a href="https://www.gov.uk/service-manual/agile-delivery/core-principles-agile" target="_blank" rel="noopner noreferrer">agile principles (opens in new tab)</a> and tools (for example, Trello, Lucid and Jira) and have processes in place that follow the <a href="https://www.gov.uk/service-manual/agile-delivery/governance-principles-for-agile-service-delivery" target="_blank" rel="noopner noreferrer">governance principles for service delivery (opens in new tab)</a>. 

## Why it's important 

By getting your service in front of real users as soon as possible you can get insights on how they use it and iterate based on what you learn.

Working this way means you're not specifying everything up front before you've developed an understanding of what users need, you will reduce the risk of delivering the wrong thing.

##How to meet this standard at every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

<%= example_panel("DfE assessor tips","<p><b>Prompts to help services and products meet this standard </b><p>
<p>How will the team maintain good agile governance, for example, creating and maintaining a prioritised backlog, and regular sprint reviews, as well as designing and building solutions?</p>
<p>Have you considered how to prioritise riskiest assumptions to get solutions in front of users and iterate frequently?</p>
<p>Are <a href='https://www.gov.uk/service-manual/agile-delivery/agile-tools-techniques' target='_blank'>agile ceremonies (opens in new tab)</a> in place, including regular retros, to help to iterate and improve ways of working?</p>")%>


#### Things to consider:

- how the team <a href="https://www.gov.uk/service-manual/agile-delivery" target="_blank" rel="noopner noreferrer">use agile ways of working (opens in new tab)</a>, tools and techniques 
- changes to the service are based on user research feedback and testing. <a href="https://fh-family-exp-design-history.herokuapp.com/alpha-5/" target="_blank" rel="noopner noreferrer">The Family experience design history (opens in new tab)</a> documents how they've done this
- evidence of decision making with senior stakeholders that allow the team to adapt and change
- evidence that governance is being managed with measurable goals 
- the team has all the skills it needs at each phase of the agile lifecycle

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

<div class="dfe-pager">
	<a href="/service-standard/7-use-agile-ways-of-working.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">7. Have a multidisciplinary team</div>
	</a>
		<a href="/service-standard/8-iterate-and-improve-frequently.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">8. Iterate and improve frequently</div>
	</a>
	
</div>