---
title: 8. Iterate and improve frequently
weight: 8
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
#8. Iterate and improve frequently

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently" target="_blank" rel="noopner noreferrer">Service Standard point 8 (opens in new tab)</a>. 

Make sure you have the capacity, people and technical flexibility to iterate and improve the service frequently, focusing on improvements that deliver the most value.


## Why it's important

Services are never 'finished'. Once you've got real people using your service, you need to iterate and improve it.

This means more than doing basic maintenance, like fixing bugs in code or deploying security patches. It means responding to feedback and changes in user needs and behaviour, technology and DfE policy.

Running a live service does not mean a team working on the service full time. But it does mean being able to make substantial improvements through its lifetime.


##How to meet this standard through the agile lifecycle

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

Assessors will look for:

- continued research and iteration based on feedback, data and metrics
- a process for reviewing all content and checking that it is up-to-date and reflects current policy, or is retired
- an understanding of where the team's priorities lie and which improvements will deliver the most value
- have the right people in the team to keep improving the service

## Profession specific guidance

Each DDaT profession at DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

## Related content 

The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way"target="_blank" rel="noopner noreferrer">Running your service in a sustainable way</a> 
- <a href="https://www.gov.uk/service-manual/technology/deploying-software-regularly"target="_blank" rel="noopner noreferrer">Deploying software regularly</a> 

<div class="dfe-pager">
	<a href="/service-standard/7-use-agile-ways-of-working.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">7. Iterate and improve frequently</div>
	</a>
		<a href="/service-standard/9-create-a-secure-service.html" class="dfe-pagination">
	<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">9. Create a secure service which protects users' privacy</div>
	</a>
</div>