---
title: 8. Iterate and improve frequently
weight: 8
prevent_indexing: true
---

<%= partial "ga" %>

#8. Iterate and improve frequently
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently" target="_blank" rel="noopner noreferrer">Service Standard point 8 (opens in new tab)</a>. 

Make sure you have the capacity, resources and technical flexibility to iterate and improve the service frequently.

Work with your organisation to make sure that you're able to focus on the improvements that have the most value.

## Why it's important

Services are never 'finished'. Once you've got real people using your service, you need to iterate and improve it throughout its lifetime.

This means more than doing basic maintenance, like fixing bugs in code or deploying security patches. It means responding to feedback and changes in user needs and behaviour, technology and DfE policy.

Running a live service does not have to mean a full team working on the service 100% of the time during the live phase. But it does mean being able to make substantial improvements throughout its lifetime.


##How to meet this standard through the agile lifecycle

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

Assessors will look for:

- continued research and iteration based on feedback, data and metrics
- a process for reviewing all content and checking that it is up-to-date and reflects current policy, or is retired
- an understanding of where the team's priorities lie and which improvements will deliver the most value
- the team being flexibility resourced to keep improving the live service

## How to apply this standard in your role

Each DDaT profession at DfE has their own community and guidance on how to apply standards.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Design in DfE", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

## Related content 
The following links will open in a new tab.

- <a href="https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way"target="_blank" rel="noopner noreferrer">Running your service in a sustainable way</a> 
- <a href="https://www.gov.uk/service-manual/technology/deploying-software-regularly"target="_blank" rel="noopner noreferrer">Deploying software regularly</a> 
