---
title: 8. Iterate and improve frequently
weight: 8
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently" target="_blank" rel="noopner noreferrer">standard point 8 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</span>
		<strong class="govuk-tag">Delivery Managers</strong> 
		<strong class="govuk-tag">Product Managers</strong>
		<strong class="govuk-tag">Service Designers</strong> 
		</div>
	</div>
</div>


Make sure you have the capacity, people and technical flexibility to iterate and improve the service frequently, focusing on improvements that deliver the most value.

## Why it's important 

Services are never 'finished'. Once you've got real people using your service, you need to iterate and improve it.

This means more than doing basic maintenance, like fixing bugs in code or deploying security patches. It means responding to feedback and changes in user needs and behaviour, technology and DfE policy. It also means being able to make <a href="https://www.gov.uk/service-manual/agile-delivery/running-your-service-in-a-sustainable-way" target="_blank">substantial improvements (opens in new tab)</a> through the service's lifetime.

##How to meet this standard at every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

<%= example_panel("DfE assessor tips","<p><b>Prompts to help services and products meet this standard </b><p>
<p>When there are time constraints, what methods could you use to iterate and improve designs regularly?</p>
<p>To meet challenging delivery deadlines, are the team communicating regularly about user needs and what they learn as they design, test and build?</p>
<p>How are the team regularly working together to prioritise a backlog?</p>
<p>Are you considering how to solve the users' biggest needs in a minimal way when designing a plan for alpha? Are they based on evidence and user needs?</p>")%>

#### Things to consider:

- continued research and iteration based on feedback, data and metrics. <a href="https://bat-design-history.netlify.app/find-teacher-training/making-the-service-more-browseable/" target="_blank" rel="noopner noreferrer">Becoming a teacher design history (opens in new tab)</a> documents how they've done this
- a process for reviewing all content and checking that it is up-to-date and reflects current policy, or is retired
- where the team's priorities lie and which improvements will deliver the most value
- how the team will <a href="https://www.gov.uk/service-manual/technology/deploying-software-regularly" target="_blank">deploy software regularly (opens in new tab)</a>
- having the right people in the team to keep improving the service

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

<div class="dfe-pager">
	<a href="/service-standard/7-use-agile-ways-of-working.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">7. Iterate and improve frequently</div>
	</a>
		<a href="/service-standard/9-create-a-secure-service.html" class="dfe-pagination">
	<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">9. Create a secure service which protects users' privacy</div>
	</a>
</div>