---
title: 9. Create a secure service which protects users' privacy
weight: 9
---

<%= partial "ga" %>

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
<div class="dfe-section-grey">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service" target="_blank" rel="noopner noreferrer">standard point 9 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	</div>
	<div class="govuk-grid-row ">
		<div class="govuk-grid-column-full">
		<span class="govuk-caption-m">Everyone is responsible for meeting the Service Standard. This standard point is relevant for:</span>
		<strong class="govuk-tag">Architecture</strong>
		<strong class="govuk-tag">Delivery Managers</strong> 
		<strong class="govuk-tag">Product Managers</strong> 
		<strong class="govuk-tag">Technical</strong> 
		</div>
	</div>
</div>


Understand what data and information your service will be collecting from users, and how this will be stored and used.

Identify and address security threats, legal responsibilities, confidentiality, privacy issues and risks associated with the service. Consult experts where you need to.

## Why it's important 

You’ll be assessed on what you’ve done to meet this service standard point at <a href='/service-assessments/'>service assessments</a>.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
	DfE handles personal and sensitive information about users. We have a legal duty to protect this information. Failing to do so would undermine public trust in DfE services.
	</strong>
</div>


## How to meet this standard at each phase

It's good practice to consider how you'll meet this standard, even if the service you are working on is not being assessed.

### At discovery

Things to consider:

- evidence that a Data Protection Impact Assessment (DPIA) has been started, where neccessary
- a plan that details headline General Data Protection Regulation (GDPR) requirements

### At alpha

Things to consider:

- continued work on the Data Protection Impact Assessment (DPIA), where relevant
- demonstrable evidence that the service you want to build is technically feasible and meets required security standards
- a plan for findings from checking technical feasibility and security compliance are addressed in beta

### At beta

Things to consider:

- evidence of addressing findings from alpha
- findings of DPIA are being addressed
- residual risks and mitigations security have been raised and assigned
- demonstrable evidence of how services and data storage will be secured to prevent data loss
- how you've tested your service to ensure it doesn't expose security risk, for example, testing against <a href="https://owasp.org/Top10/" target="_blank" rel="noopner noreferrer">OWASP Top 10 (opens in new tab)</a>
- use of common components, such as <a href="https://dfe-digital.github.io/architecture/common-components/#dfe-sign-in" target="_blank">DfE Sign-in</a> if authentification is required, to secure your service


### At live

Things to consider:

- evidence that all risks to security have been addressed
- evidence that all DPIA findings have been addressed


## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://design.education.gov.uk/", "DfE Design", true)%>

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<%= signpost_link("https://drive.google.com/drive/u/0/folders/1N-kos9wCVFhDZDbasJc6wPcM2YsK8pp5", "DfE User Research", true)%>

## Related content 
The following links open in a new tab.

- <a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users"target="_blank" rel="noopner noreferrer">Collecting personal information from users</a> 
- <a href="https://www.gov.uk/service-manual/technology/securing-your-information"target="_blank" rel="noopner noreferrer">Securing your information</a> 
- <a href="https://www.gov.uk/service-manual/technology/protecting-your-service-against-fraud"target="_blank" rel="noopner noreferrer">Protecting your service against fraud</a> 


<div class="dfe-pager">
	<a href="/service-standard/8-iterate-and-improve-frequently.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">8. Iterate and improve frequently</div>
	</a>
		<a href="/service-standard/10-define-success-publish-performance-data.html" class="dfe-pagination">
	<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">10. Define what success looks like and publish performance data</div>
	</a>
</div>